USE [master]
GO
/****** Object:  Database [Students]    Script Date: 15/06/2021 01:53:14 p. m. ******/
CREATE DATABASE [Students]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Students', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Students.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Students_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Students_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Students].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Students]
GO
/****** Object:  Table [dbo].[DataS]    Script Date: 15/06/2021 01:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[Birthday] [date] NULL,
	[Email] [varchar](50) NULL,
	[Major] [nvarchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Quarter] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_DataS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataS] ON 

INSERT [dbo].[DataS] ([ID], [Fname], [Lname], [Birthday], [Email], [Major], [Address], [Quarter], [Password]) VALUES (4, N'sofia', N'lopez', CAST(N'2021-06-09' AS Date), N'st2746@utr.edu.mx', N'TI', N'manzana 260', N'5', N'aliciaaaa')
SET IDENTITY_INSERT [dbo].[DataS] OFF
GO
USE [master]
GO
